.increment-btn{
    padding: 0.5rem;
    background-color: aquamarine;
    outline: none;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}
.decrement-btn{
    padding: 0.5rem;
    background-color: cadetblue;
    outline: none;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1rem;

}
.reset-btn{
    padding: 0.5rem;
    background-color: rgb(1, 28, 29);
    color: #fff;
    outline: none;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1rem;

}

section{
    display: grid;
    grid-gap: 0.5rem;
    padding: 1rem;
}
article{
    background-color: darkcyan;
    color: #fff;
    padding: 0.5rem;
}

@media (min-width:600px) {
    section{
        grid-template-columns: auto auto;
    }
    
}
@media (min-width:768px) {
    section{
        grid-template-columns: auto auto auto;
    }
    
}